* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #280031;
    display: flex;
    font-family: cursive;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    border: 0;
}

.container {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #3E445B;
    width: 450px;
    max-width: 100%;
}

.header {
    padding: 30px 40px;
}

.header h2 {
    font-weight: 600;
    font-size: 30px;
}

.form {
    padding: 0 40px 30px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;

    display: block;

    font-size: 16px;

    width: 100%;
}

.form-control input[type=email] {
    background-image: url("../../img/login-register/mail-outline.svg");
    background-repeat: no-repeat;
    background-position: left;
    padding: 10px 45px;
}

form input[type=password] {
    background-image: url("../../img/login-register/lock-closed-outline.svg");
    background-repeat: no-repeat;
    background-position: left;
    padding: 10px 45px;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i .img-error {
    position: relative;
    top: -12px;
    visibility: visible;
}

.form-control.success i .img-success {
    position: relative;
    top: -12px;
    visibility: visible;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.form button {
    background-color: #6C63FF;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;

    margin-top: 5px;

    cursor: pointer;
}

form p {
    font-family: cursive;
    padding-left: 10px;
}

.form button:hover {
    background-color: #584ff5;
    transition: 0.3s;
}

.recover_password,
.text_register {
    text-align: center;
    font-size: 15px;
    padding: 10px 0px;
}
