/* ESTILO DO HEADER(product.html)*/

body {
    background-color: #27022f;
    background-image: url(../../img/products/cod/product\ page.jpg);
    background-position-y: center;
    background-position-x: bottom;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    background-color: white;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}


ion-icon {
    font-size: 1.6rem;
    margin: 0px 8px;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 10rem;
}

.logo a{
    display: flex;
    align-items: center;
    margin-right: 1.3rem;
    margin-left: 1.6rem;
    text-decoration: none;
    color: #000000;
}

.logo h1{
    font-size: 1.6rem;
}

.logo p{
    margin-left: 10px;
    font-size: 1rem;
    font-family: helvetica;
}

.logo img {
    width: 60px;
    height: 60px;
}


.search{
    display: flex;
    align-items: center;
    border: 2px solid #fdfdfd;
    border-radius: 6px;
    transition: .4s;
    cursor: pointer;
}

.search:hover{
    border-color: #280031;
}

.search input{
    height: 1.8rem;
    width: 20rem;
    padding: 4px 6px;
    border: 0px;
    outline: 0px;
}

/* ESTILO DO MAIN (index.html)*/



.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main a{
    text-decoration: none;
}
.products_details_banner img{
    margin-top: 100px;
    margin-right: 600px;
    
    
}
.products_details_banner h2{
    font-size:x-large;
    color: azure;
    text-align:justify;
    text-decoration: none;
    font-style: oblique;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.products_detais_cotent p{
    font-size: medium;
    color: aqua;
    text-decoration: underline;
  }
