/* ESTILO DO HEADER(index.html)*/

body {
    background-color: #280031;
}

header {
    width: 100%;
    background-color: white;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}


ion-icon {
    font-size: 1.6rem;
    margin: 0px 8px;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 10rem;
}

.logo a{
    display: flex;
    align-items: center;
    margin-right: 1.3rem;
    margin-left: 1.6rem;
    text-decoration: none;
    color: #000000;
}

.logo h1{
    font-size: 1.6rem;
}

.logo p{
    margin-left: 10px;
    font-size: 1rem;
    font-family: helvetica;
}

.logo img {
    width: 60px;
    height: 60px;
}


.search{
    display: flex;
    align-items: center;
    border: 2px solid #fdfdfd;
    border-radius: 6px;
    transition: .4s;
    cursor: pointer;
}

.search:hover{
    border-color: #280031;
}

.search input{
    height: 1.8rem;
    width: 20rem;
    padding: 4px 6px;
    border: 0px;
    outline: 0px;
}


/* ESTILO DO MAIN (index.html)*/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
}

.main a{
    text-decoration: none;
}

.slider{
    margin: 2rem auto;
    width: 800px;
    overflow: hidden;
}
.slides{
    width: 400px;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    position: relative;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 400px;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.manual-btn:not(:last-child){
    margin-right: 25px;
}
.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin: 0;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}

#radio2:checked ~ .first{
    margin-left: -200%;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}

#radio3:checked ~ .first{
    margin-left: -400%;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}

#radio4:checked ~ .first{
    margin-left: -600%;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 25px;
}

.main-cards{
    margin-top: 4rem;
    width: 85%;
    padding: 10px;
}

.main-cards .title{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fdfdfd;
    font-family: 'Roboto';
}

.main-cards .cards{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 20px 10px;
    flex-wrap: wrap;
}

.main-cards .cards .card {
    text-decoration: none;
    background-color: #59086b;
    width: 204.5px;
    height: 260px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #000000;
    transition: .3s;
}

.main-cards .cards .card:hover{
    border: 1px solid #fdfdfd;
}

.main-cards .cards .card img{
    width: 100%;
    height: 75%;
    border-radius: 5px;
}

.main-cards .cards .card .card-title{
    padding-top: 15px;
    font-size: 1rem;
    color: #fdfdfd;
    font-weight: bold;
}

/* ESTILO DO FOOTER (index.html)*/

footer{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-pt1{
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 10px;
}

.footer-pt1 .footer-title{
    font-family: 'Roboto';
    color: #fdfdfd;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.footer-pt1 .footer-subtitle{
    font-family: 'Roboto';
    color: #fdfdfd;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.footer-pt1 .footer-text{
    color: #fdfdfd;
    margin-bottom: 1rem;
}

.footer-beneficios{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.beneficio{
    width: 50%;
    margin-top: 10px;
    display: flex;
    padding: 20px 0;
    align-items: center;
}

.beneficio ion-icon{
    width: 4%;
    padding: 20px;
    background-color: #fdfdfd;
    border-radius: 35px;
    color: rgb(0, 98, 255);
}

.beneficio .grande{
    width: 5.3%;
}

.beneficio-texts-title{
    margin-bottom: 10px;
    color: #fdfdfd;
    font-family: 'Roboto';
}

.beneficio-texts-text{
    color: #fdfdfd;
}


.footer-pt2{
    width: 100%;
    height: 150px;
    background-color: rgb(250, 250, 71);
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.ajuda{
    display: flex;
    flex-direction: column;
    margin-left: 5.5rem;
}

.ajuda-title{
    color: #280031;
    font-size: 1.2rem;
    font-family: 'Roboto';
    margin-bottom: 5px;
}

.ajuda-button a{
    display: flex;
    background-color:  rgb(203, 221, 5);
    border: 1px solid  rgb(203, 221, 5);
    padding: 3px;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    color: #000000;
    transition: .4s;
}

.ajuda-button a:hover{
    border: 1px solid #59086b;
}

.Pais{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.Pais-title{
    color: #280031;
    font-size: 1.2rem;
    font-family: 'Roboto';
    margin-bottom: 5px;
}

.Pais-button a{
    display: flex;
    background-color:  rgb(203, 221, 5);
    border: 1px solid  rgb(203, 221, 5);
    padding: 3px;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    color: #000000;
    transition: .4s;
}

.Pais-button a:hover{
    border: 1px solid #59086b;
}

.creditos{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.creditos-title{
    color: #280031;
    font-size: 1.2rem;
    font-family: 'Roboto';
    margin-bottom: 5px;
}

.creditos-button a{
    display: flex;
    background-color:  rgb(203, 221, 5);
    border: 1px solid  rgb(203, 221, 5);
    padding: 3px;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    color: #000000;
    transition: .4s;
}

.creditos-button a:hover{
    border: 1px solid #59086b;
}

.footer-pt3{
    width: 100%;
    background-color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-pt3 p{
    margin-left: 6.2rem;
}

.footer-pt3 img{
    width: 60px;
    height: 60px;
    margin-right: 6.2rem;
}

@media (max-width: 1130px){
    .logo p{
        display: none;
    }

    .beneficio ion-icon{
        padding: 20px 25px;
    }
}

@media (max-width: 1000px){
    .main-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 900px){
    header{
        display: flex;
    }

    .search ion-icon{
        display: none;
    }
    
    .logo{
        display: flex;
        align-items: center;
        margin-left: 6rem;
    }
    
    .logo a{
        display: flex;
        align-items: center;
        margin-right: 1.3rem;
        margin-left: 1.6rem;
        text-decoration: none;
        color: #000000;
    }
    
    .logo h1{
        font-size: 2rem;
    }

    .search input{
        display: none;
    }    

    .slider{
        width: 600px;
        height: 300px;
    }

    .slide img{
        width: 600px;
        height: 300px;
    }

        
    #radio1:checked ~ .first{
        margin: 0;
    }

    #radio2:checked ~ .first{
        margin-left: -150%;
    }

    #radio3:checked ~ .first{
        margin-left: -300%;
    }

    #radio4:checked ~ .first{
        margin-left: -450%;
    }

    .manual-navigation{
        display: none;
    }

    .navigation-auto{
        display: none;
    }

    .footer-beneficios{
        width: 100%;
        display: flex;
        flex-direction: column;
    }    

    .beneficio{
        width: 70%;
    }
}

@media (max-width: 770px){
    .main-cards .cards .card{
        width: 250px;
        height: 320px;
    }
}

@media (max-width: 650px){
    header .menu-outline {
        display: none;
    }

    .slider{
        width: 450px;
        height: 250px;
    }

    .slide img{
        width: 450px;
        height: 250px;
    }

    #radio1:checked ~ .first{
        margin: 0;
    }

    #radio2:checked ~ .first{
        margin-left: -112.5%;
    }

    #radio3:checked ~ .first{
        margin-left: -225%;
    }

    #radio4:checked ~ .first{
        margin-left: -337.5%;
    }


    .main-cards .title{
        font-size: 1.7rem;
    }
}

@media (max-width: 590px){

    header .logo{
        margin-left: 0;
    }

    .main-cards .cards .card{
        width: 300px;
        height: 370px;
    }

    .footer-pt2{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ajuda{
        margin: 0;
    }

    .footer-pt3{
        justify-content: center;
    }
}

@media (max-width: 460px){
    .logo{
        margin-right: 0;
    }
    .slider{
        display: none;
    }
    .beneficio ion-icon{
        display: none;
    }
}
