* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #280031;
}

form{
    background-color: white;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
form h3{
    text-align: center;
    color: firebrick;
    font-family: cursive;
    font-size: 35px;

}

form input[type = text], input[type = password]{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0px;
    outline: 0px;
}
form input[type = submit]{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: #c03a3a;
    color: white;
    border: 0px;
    border-radius: 20px;
    
}